{% extends 'base.html' %}

{% block style %}
    <style>
    pre {
        border: 1px solid black;
        background-color: black;
        color: green;
    }
    .ff{
        text-align:center!important;

    }
    .fa{
        color:#888;
        display:flex;
        align-item:center;
    }
    </style>
{% endblock %}

{% block content %}
<div class="container">

    <h1 class="text-center ff">OpenSSH Service Installation</h1>
    <span class="text-center ff fa">安装OpenSSH服务</span>
    <hr>
    <h2># 1 Matters need attention 注意事项</h2>

    <ol>
    <li>Before installing the service, please confirm that port 1050,1025,22 two-way communication policy is enabled between the VLAN of the device computer and the big data server (10.204.14.109);</li>
	<p style="color:gray">在安装服务前，请确认设备电脑和大数据服务器（10.204.14.109）之间已开通1050，1025，22号端口双向通讯策略;</p>    
    <li>You must login the administrator account of the device computer to install the service；</li>
    <p style="color:gray">安装服务时必须登陆设备电脑的管理员账户；</p> 
    <li>Please add all ports needed for this service to the device computer firewall white list;</li>
    <p style="color:gray">请将本服务所需用的端口全加入设备电脑防火墙白名单；</p> 
    </ol>

    <h2># 2 Steps to use 使用步骤</h2>
    <ol>
    <li>Login http://10.204.14.109:1050/install 【when you see this page, it means that the step was done : )】</li>
    <p style="color:gray">登陆 http://10.204.14.109:1050/install  【当你看到此页面时，说明该步骤已完成 : )】</p> 

    <li>Download installation package of OpenSSH;</li>
    <p style="color:gray">下载安装包;</p> 
        <a href="/media/installer/install.exe"><i class="fas fa-download"></i> Installation Package</a>
        <a href="/media/installer/install.zip"><i class="fas fa-download"></i> One-click installation</a>
        <a href="/media/installer/DWEnterprise_Install.zip"><i class="fas fa-download"></i> deviceWISE installation</a>

    <li>Run CMD as an administrator, enter the CD command in the CMD interface, go to the folder where the installation package is located</li>
    <p style="color:gray">以管理员身份运行CMD，在CMD界面输入CD命令进入安装包所在的文件夹</p> 
    <pre style="font-size:15px">
    e.g.   C:\Program Files\Common Files\ArchestrA\License Server>CD C:\User\superuser\Downloads
    </pre>

    <li>Enter in CMD:<code style="font-size:15px;color:green">  install.exe setup http://10.204.14.109:1050  </code>, to set the site address;</li>
    <p style="color:gray">输入：<code style="font-size:15px;color:green">  install.exe setup http://10.204.14.109:1050  </code>，配置网址;</p>
    <pre style="font-size:15px">
    e.g.   C:\User\superuser\Downloads>install.exe setup http://10.204.14.109:1050
    </pre>

    <li>Make sure there is a folder named SSH in the path C: \ProgramData , or create a new one;</li>
    <p style="color:gray">确保 C:\ProgramData 路径下有一个名为ssh的文件夹，没有则需新建一个;</p>

    <li>Enter in CMD: <code style="font-size:15px;color:green">  install.exe install </code>，to install the SSH service;</li>
    <p style="color:gray">输入：<code style="font-size:15px;color:green">  install.exe install </code>，安装SSH服务;</p>
    
    <p style="color:gray">A successful installation will show the following：</p>
    <p style="color:gray">安装成功后会显示以下：</p>
    <pre style="font-size:15px">
    e.g.   
    C:\User\superuser\Downloads>install.exe install
    [SC] SetServiceObjectSecurity SUCCESS
    [SC] ChangeServiceConfig2 SUCCESS
    [SC] ChangeServiceConfig2 SUCCESS
    sshd and ssh-agent services successfully installed    
    </pre>
    <h2># 3 Commands in Package  </h2>
    <pre>
    INFO: Showing help with the command 'install.exe -- --help'.

    NAME
        install.exe

    SYNOPSIS
        install.exe COMMAND

    COMMANDS
        COMMAND is one of the following:

        install
        安装 ssh-server

        uninstall
        卸载 ssh-server

        setup
        设置网站地址，数据举例： http://127.0.0.1/8000

    </pre>
    
    <h2># 4 Check</h2>
    <button class="btn btn-primary" onclick="checkSSH()">Check</button>

        <span id="isSuccess" class="text-info"></span>

</div>


{% endblock %}

{% block script %}
    <script>
    let hint = document.getElementById('isSuccess');
    let full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
    document.getElementById('addr').innerText = `install.exe setup ${full}`;
    function checkSSH() {
        $.ajax({
            url: '{% url "tasks:check_ssh" %}',
            type: 'get',
            success: function (r) {
                if (r.status === true){
                    hint.innerText = 'Success! A connection has been established with the server.'
                    hint.className = 'text-success';
                } else {
                    hint.innerText = 'Failed! Unable to connect to server.';
                    hint.className = 'text-danger';
                }
            }
        })
    }
    </script>
{% endblock %}